@charset "UTF-8";

/* CSS Document */


/* Box sizing */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* GRID RULES */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.row {
    overflow: hidden;
}
.one-whole {
    width: 940px;
}
.three-quarters {
    width: 700px;
}
.one-half {
    width: 460px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
}
.one-sixth {
    width: 140px;
}
.one-quarter {
    width: 220px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

/* HEADER STYLES */

.brand {
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 22px;
}
.nav {
    padding-top: 60px;
}
.nav li {
    float: none;
    border-right: 1px solid #dedede;
    /* light gray */
    font-size: 18px;
}
.nav li:last-child {
    border-right: 0 none;
}
.nav ul li {
    display: inline-block;
}
.nav a {
    padding: 0px 10px;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-in-out;
}
.nav a:hover {
    color: #5adae2;
    /* turquoise */
}
.active a {
    color: #5adae2;
    /* turquoise */
}
.pull-right {
    float: right;
}

/* STYLE FOR FOOTER PADDING */

.social {
    text-align: center;
}
.social-list {
    text-align: center;
}
.social-list li {
    display: inline-block;
}
.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}
.social-list i:hover {
    background-color: #373737;
    /* dark grey */
}
.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #0B676B;
    /* teal */
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

/* MAIN CONTENT */

.page-header {
    background-color: #5adae2;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}
.page-header p {
    padding-left: 15px;
    font-size: 26px;
}

/* HOME PAGE CSS */

.page-header .home {
    margin-bottom: 0;
}
.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}
.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}
.page-header.home a {
    padding-left: 35px;
}
.page-header h1 {
    font-weight: bold;
}
.home h1 {
    color: #fff;
}
.message {
    background-color: #4cd2da;
    padding-top: 60px;
    padding-bottom: 60px;
}
.message h3 {
    color: #fff;
}
.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.main-content-bottom {
    padding-bottom: 75px;
}
.main-content-top i {
    color: #5adae2;
    vertical-align: -10px;
    /* center icon to heading */
}
.main-content-bottom {
    margin-bottom: 75px;
}
.contentbox {
    f color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox li {
    color: #373737;
    font-size: 18px;
    font-weight: 200;
}
.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox>img {
    float: left;
    margin-right: 15px;
}
.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}
.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}
.contentbox i {
    color: #5adae2;
}
.blog-tease {
    color: #fff;
    min-height: 250px;
}
.blog-tease h2 {
    color: #fff;
}
.blog-tease {
    height: 210px;
}

/* ABOUT PAGE */

.team h1 {
    margin-bottom: 40px;
}
.team-member {
    margin-bottom: 20px;
}

/* PORTFOLIO PAGE */

.portfolio-item {
    margin-bottom: 10px;
    position: relative;
}
.portfolio-title {
    color: white;
    text-align: center;
    height: 308px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    /* opacity is zero. Nothing displays */
    padding: 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease 0s;
}
.portfolio-title:hover {
    background-color: #5adae2;
    opacity: .9;
}

/* BLOG PAGE */

.info li {
    display: inline-block;
    font-size: 14px;
    background-color: #edecea;
    padding: 5px 8px;
    margin-top: 5px;
    margin-right: 5px;
}
.info a:hover {
    color: #5adae2;
}
.info i:hover {
    color: #5adae2;
}
.sidebar {
    padding: 30px;
}
.sidebar p {
    color: #1e1f1f;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 10px;
}
.sidebar a {
    color: #1e1f1f;
}
.sidebar li {
    font-size: 14px;
}
.recent-entries img {
    float: left;
    padding-right: 10px;
}
.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

/* CONTACT PAGE */

.table,
.form p,
.map h2 {
    margin-left: 15px;
}
.tile {
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.title p {
    margin: 0;
}
.title i {
    font-size: 108px;
}
.team-member h1 {
    text-align: center;
}
.team-member ul {
    text-align: right;
}
.team-member li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.team-member a {
    color: #1e1f1f;
}
.team-member i {
    background-color: #edecea;
    color: #1e1f1f;
    font-size: 16px;
    padding: 3px;
    margin: 0;
    width: 22px;
    display: inline-block;
    text-align: center;
}
.address,
.address a {
    color: #1e1f1f;
}
.address li {
    padding-bottom: 5px;
}
.info i {
    color: #1e1f1f;
    display: inline-block;
    width: 22px;
    text-align: center;
}
body {
    background-color: #999;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
h1 {
    color: #373737;
    font-size: 38px;
}
h2 {
    color: #373737;
    font-size: 32px;
    margin: 0;
}
h3 {
    color: #373737;
    font-size: 24px;
    font-weight: 200;
}
h4 {
    color: #373737;
    font-size: 18px;
}
p {
    font-size: 18px;
    margin: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
.header {
    background-color: #373737;
}
main {
    background-color: #edecea;
}
.footer {
    background-color: #373737;
}
.footer h4 {
    color: #fff;
}
.footer-bottom {
    background-color: black;
}
.footer-bottom a {
    color: white;
}
.footer-bottom a:hover {
    color: #5adae2;
    /* turquoise */
}
.footer-bottom p {
    color: #999;
}
.footer p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
}
.footer ul {
    font-size: 16px;
    font-weight: 200;
}
.footer a:hover,
i:hover {
    color: #5adae2;
}
