@charset "UTF-8";
</html>
/*General Colors*/

body {
    color: #5d5e5e;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 200;
}
h1 {
    font-size: 38px;
}
h2 {
    color: #373737;
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}
h3 {
    color: #373737;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
}
a {
    color: #000000;
    text-decoration: none;
}
p {
    font-size: 11px;
}
.header {
    background-color: #fff;
}
.main {
    background-color: #f0efee;
}
.footer {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 50px;
}
.footer p {
    font-size: 7px;
    color: #989999;
    letter-spacing: 1px;
}
.footer a {
    color: #989999;
}
.contentbox {
    background-color: #f0efee;
    padding: 20px;
    margin-bottom: 40px;
}
.contentbox-white {
    background-color: #fff;
    padding: 10px 70px 10px 15px;
    margin-bottom: 150px;
    margin-top: 30px;
}
.contentbox-center {
    background-color: #f0efee;
    text-align: center;
    padding: 20px 10px 20px 20px;
}
.contentbox-center h3 {
    font-weight: 600;
}
.contentbox-side {
    background-color: #fff;
    padding: 20px 50px 10px 10px;
    margin-top: 30px;
}
.contentbox-side h2 {
    background-color: #fff;
    padding-bottom: 20px;
}
.block {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cursive {
    font-family: ‘Swanky and Moo Moo’, cursive;
}
.cursive h1 {
    font-size: 10px;
}
.header-logo {
    display: inline-block;
    background-color: #000000;
    font-size: 25px;
    font-weight: 200;
    color: white;
    background-color: black;
    padding: 15px 10px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contentbox-white li {
    font-size: 10px;
    line-height: 1.75;
}
.contentbox-white h2 {
    padding-bottom: 10px;
    padding-left: 10px;
}
.contentbox-white h3 {
    padding-left: 10px;
}
.contentbox-white p {
    padding-left: 10px;
}
.section {
    background-color: #f0efee;
}
.pull-right {
    float: right;
}
.img-responsive {
    max-width: 100%
}

/* Container Columns */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.row {
    overflow: hidden;
}
.one-whole {
    width: 940px;
}
.three-quarters {
    width: 700px;
}
.one-half {
    width: 460px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
}
.one-third img {
    padding-top: 10px;
}
.one-sixth {
    width: 140px;
}
.one-quarter {
    width: 220px;
}
.one-quarter a:hover {
    color: #B45737;
}
.footer a:hover {
    text-decoration: underline;
}
.contentbox-center a:hover {
    font-weight: bold;
}

/*span*/

.image {
    position: relative;
    width: 100%;
}
h2 span {
    position: absolute;
    top: 150px;
    width: 30%;
    color: white;
    padding: 155px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
}
h2 span i {
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 90px;
    color: #B45737;
}

/*Button*/

.btn {
    display: inline-block;
    font-size: 9px;
    background-color: #dadada;
    color: black;
    padding: 5px 20px;
    border: 0 none;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}
.btn:hover {
    background-color: #fff;
}

/*sidebar*/

.sidebar {
    padding: 1px;
    line-height: 6px;
}
.sidebar p {
    font-size: 9px;
    color: #1e1f1f;
    padding-bottom: 7px;
    padding-left: 10px;
}
.border-box {
    border: 1px solid;
    margin-bottom: 10px;
}
.sidebar-header {
    padding: 10px 0px 0x 0px;
}
.icon {
    float: left;
    margin: 1opx;
    padding: 3px 15px 0px 10px;
}

/* Mobile navigation */


/*nav*/

.nav {
    padding-top: 80px;
}
nav ul li {
    display: inline-block;
}
.nav li {
    float: left;
    border-right: 10;
    font-size: 12px;
    padding-right: 30px;
}
.nav li:last-child {
    border-right: 0 none;
}
.nav a {
    padding: 0px 10px;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-in-out;
}
.nav a:hover {
    color: #B45737;
}
.active a {
    color: #B45737;
}

/*Responsive*/

@media (min-width: 480px) {
    .container {
        width: 420px;
    }
    .one-whole,
    .one-quarter,
    .three-quarters,
    .one-half,
    .two-thirds,
    .one-third,
    .one-sixth {
        width: 420px;
    }
    h2 span {
        position: absolute;
        top: 300px;
        width: 30%;
        color: white;
        padding: 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.4;
    }
    h2 span i {
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 60px;
        color: #B45737;
    }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h2 span {
        position: absolute;
        top: 200px;
        width: 30%;
        color: white;
        padding: 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;
    }
    h2 span i {
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 90px;
        color: #B45737;
    }
    .container {
        width: 768px;
    }
    .column {
        margin-right: 10px;
        margin-left: 10px;
    }
    .one-whole {
        width: 748px;
    }
    .three-quarters {
        width: 556px;
    }
    .one-half {
        width: 364px;
    }
    .one-quarter {
        width: 172px;
    }
    .two-thirds {
        width: 492px;
    }
    .one-third {
        width: 236px;
    }
    .one-sixth {
        width: 108px;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    .column {
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
    .one-whole {
        width: 940px;
    }
    .three-quarters {
        width: 700px;
    }
    .one-half {
        width: 460px;
    }
    .two-thirds {
        width: 620px;
    }
    .one-third {
        width: 300px;
    }
    .one-quarter {
        width: 220px;
    }
    .one-sixth {
        width: 140px;
    }
    h2 span {
        position: absolute;
        top: 200px;
        width: 30%;
        color: white;
        padding: 30px;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.4;
    }
    h2 span i {
        font-size: 40px;
        letter-spacing: 1px;
        margin-left: 90px;
        color: #B45737;
    }
}
